/* universal styles */
body {
  background-color: #000;
  text-align: center;
  font-family: Verdana;
}

/* header styles */
header {
  margin-bottom: 25px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #fff;
}

a {
  color: aquamarine;
  font-size: 16px;
}

/* content styles */
.margin-top {
  margin-top: 23px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: #fff;
}

p {
  color: gray;
  font-size: 21px;
}

/* footer styles */
p.copyright {
  text-align: right;
}
